@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #4F50B8, #23256B);
}

main {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #05051ae0;
    width: 80%;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
}

h1 {
    color: #51B33D;
    text-align: center;
    text-shadow: 1px 1px 3px #51B33D;
}

h2 {
    color: #FF8E4B;
}

p {
    text-align: justify;
}
