@charset "UTF-8";

@font-face {
    font-family: android;
    src: url(fontes/idroid.otf);
}

@font-face {
    font-family: square;
    src: url(fontes/Square.ttf);
}

:root {
    --verde1: #5BFAD7;
    --verde2: #26b496ab;
    --verde3: #163b33;
    --v-claro1: #99f8e341;
    --v-claro2: #b2f8e91a;
    --sombra: rgb(0 0 0 / 44%);
    --cinza: #000000b9;
    --roxo: #381ba3b2;

    --fonte-normal: Arial, Helvetica, sans-serif;
    --fonte-android: android, Verdana;
    --fonte-esquilo: square, sans-serif;
}

* {
    font-size: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: --fonte-normal;
    font-size: 1em;
    background-color: var(--verde1);
    line-height: 30px;
}

/* Primeira etapa */
header {
    background-image: linear-gradient(to top, var(--verde3), var(--verde2));
    min-height: 200px;
    width: auto;
    margin: auto;
    color: var(--roxo);
    box-shadow: 2px 2px 6px var(--sombra);
}

#principal{
    font-family: var(--fonte-esquilo);
    text-align: center;
    font-size: 2.5em;
    margin: auto;
    padding: 50px 10px 20px 10px;
    line-height: 40px;
}

#primeiro {
    font-family: var(--fonte-esquilo);
    text-align: center;
    font-size: 1.3em;
    font-style: oblique;
    margin: auto;
    padding: 10px 10px 30px 10px;
}


#menu {
    text-align: right;
    margin: auto;
    padding: 5px 15px;
}

.menu {
    text-decoration: none;
    color: var(--cinza);
    font-weight: bolder;
    margin: auto 10px;
    padding: 2px;
}

nav > a:hover {
    color: var(--roxo);
    background-color: var(--verde1);
    border-radius: 5px;
    margin: 0px;
    padding: 8px;
}

/* Segunda etapa */
main {
    margin: auto;
}

article {
    background-color: white;
    max-width: 1000px;
    min-width: 200px;
    margin: auto;
    text-align: justify;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 10px var(--sombra);
}

/* passo 3 */
.titulos {
    font-family: var(--fonte-android);
    color: var(--verde3);
    margin: 10px;
    font-size: 1.5em;
    padding-left: 30px;
    background-image: linear-gradient(to right, #99f8e341, #b2f8e91a);
}

#meio-principal {
    font-size: 2em;
    font-family: android;
    color: var(--verde3);
    margin: 2px auto;
    padding: 40px 20px 10px 40px;
}

div > p {
    text-align: justify;
    padding: 20px;
    font-size: 1em;
    text-indent: 20px;
}

strong {
    color: var(--cinza);
}

p > a {
    text-decoration: none;
    color: var(--verde3);
    padding: 3px;
    font-weight: bold;
}

p > .links {
    background-color: var(--verde2);
    border-radius: 1px;
}

p > a:hover {
    text-decoration: underline;
    color: var(--roxo);
}

p > .links::after {
    content: ' ❖';
    font-weight: normal;
}

/* passo 4 */
img {
    width: 96%;
    display: block;
    margin: auto;
}

#bug {
    width: 400px;
    display: block;
    margin: auto;
}

/*  passo 5 */
article > #video-youtube {
    background-color: var(--verde3);
    max-width: 100%;
    min-width: 400px;
    height: auto;
}

iframe {
    display: block;
    width: 80%;
    height: 400px;
    margin: auto;
    padding: 20px;
}

/* passo 6 */

#topicos {
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    background-color: var(--verde1);
    box-shadow: 3px 3px 5px var(--sombra);
}

aside {
    width: auto;
    height: 150px;
    line-height: 20px;
    padding: 20px;
    color: var(--verde3);
    font-weight: bold;
}
abbr {
    text-decoration: none;
}

li::before {
    content: '✓ ';
}

#pri-list {
    float: left;
}
#sec-list {
    float: right;
}

/* Passo 7 */
#mais-infor {
    display: block;
    background-color: var(--verde2);
    font-size: 1.2em;
    margin: -20px -20px 0px -20px;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
    color: var(--verde3);
}

.outra-format {
    margin: auto;
    text-align: justify;
    padding: 10px;
    font-size: 1em;
    text-indent: 20px;
}


footer {
    background-color: var(--verde3);
    margin: auto;
    margin-top: 50px;
}

#roda {
    text-align: center;
    color: white;
    font-weight: 400;
    margin: auto;
    padding: 5px;
}

#roda > a {
    color: var(--verde2);
}

#roda > a:hover {
    color: var(--cinza);
}
