@font-face {
    font-family: android;
    src: url(fontes/idroid.otf), format(opentype);
}

* {
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: #5BFAD7;
}

/* Primeira etapa */
header {
    background-image: linear-gradient(to top, #2C7A69, #5BFAD7);
    padding: 1px 0px 10px 0px;
    margin: auto;
    height: 150px;
    color: #381ba3b2;
    box-shadow: 4px 3px 11px 0px rgb(0 0 0 / 44%);
}

#principal, #primeiro {
    text-align: center;
    padding: 10px;
    margin: 5px auto;
}


#menu {
    text-align: right;
    margin: 15px 20px 10px 0px;
    padding: 2px;
}

.menu {
    text-decoration: none;
    color: #381ba3b2;
    font-weight: bolder;
    padding: 5px;
}

nav > a:hover {
    color: gray;
    text-decoration: underline;
}

/* Segunda etapa */
main {
    background-color: #5BFAD7;
    margin: 2px auto;
}

article {
    background-color: white;
    margin: auto 160px;
    padding: 20px;
    text-align: justify;
    box-shadow: 4px 3px 11px 0px rgb(0 0 0 / 44%);
}

.titulos {
    font-family: android;
    color: #2C7A69;
    margin: 10px;
    padding: 5px;
    font-size: 1.5em;
    background-image: linear-gradient(to right, #99f8e341, #b2f8e91a);
}

#meio-principal {
    font-size: 2em;
    font-family: android;
    color: #2C7A69;
    margin: 10px;
    padding: 5px;
}

div > p {
    text-align: justify;
    text-indent: 30px;
    padding: 10px;
    margin: 10px;
    text-size-adjust: 10px;
}

